.NavBar{
    padding-bottom: 50px;
    padding: 0 5px 0;
    width: 100%;
    max-height: auto;
    min-height: 60px;
    background-color: #ffffff;
}
.logo{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
}
.logo:hover{
    color:#4f4c4c;
}
.Option{
    background-color: #ffffff;
    text-decoration: none;
    color: #292626;
    border: none;
    margin: 2px;
}
.Option:hover{
    color: #9b9696;
    text-decoration: overline;
}
.dropdownItem{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0;
}
.dropdownItem:hover{
    color: #e85e5e;
}
.OptionLeft{
    margin-left: 30px;
}
