.NavBar{
    padding: 0 5px 0;
    width: 100%;
    max-height: auto;
    min-height: 60px;
    background-color: #267e92;
}
.Option{
    background-color: #267e92;
    text-decoration: none;
    color: #fcfcfc;
    border: none;
    margin: 2px;
}
.OptionLeft{
    margin-left: 30px;
}
